body { 
    background-color: hsl(212, 45%, 89%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.qr-code-component {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    max-width: 300px;
    align-self: center;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    -webkit-box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.1);
}

.qr-code-component img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.qr-code-component h3 {
    font-weight: 700;
    font-size: 140%;
    color: hsl(218, 44%, 22%);
    padding: 0;
    margin: 1em 0.5em;
}

.qr-code-component p {
    padding: 0;
    margin: 1em 0.5em;
}

.attribution { font-size: 11px; text-align: center; margin: 3rem 0 1rem 0;}
.attribution a { color: hsl(228, 45%, 44%); }